:root {
    --font-scale: 1;
}

.pi-mode {
    --font-scale: 2;
}

.info-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 8px;
}

.info-overlay-content {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    font-size: (1em * var(--font-scale));
}